body {
    margin: 25px 25px;
    background-image: linear-gradient(grey, darkgrey);
    font-family: "Shadows Into Light";
    letter-spacing: 3px;
    font-size: 2rem;
    text-shadow: 1px 1px 3px aqua;
}
h1 {
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    text-shadow: 2px 2px 2px aqua;
}
#pic1, #pic2 {
    width: 30%;
    height: auto;
    margin: 15px 35%;
    border: 1px hotpink solid;
    outline: 1px black solid;
}
#pic2, #pic4 {
    width: 20%;
    height: auto;
    margin: 15px 40%;
    border: 1px hotpink solid;
    outline: 1px black solid;
}
#pic3, #pic5 {
    width: 50%;
    height: auto;
    margin: 15px 25%;
    border: 1px hotpink solid;
    outline: 1px black solid;
}
#myAlpha, #myBeta, #myA, #myB, #myC {
    width: 10%;
    height: auto;
    color: black;
    background-color: white;
    border: 2px aqua solid;
    outline: 1px black solid;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    font-family: "Shadows Into Light";
} 
#myBtn {
    width: 10%;
    height: auto;
    margin: 5px 45%;
    color: black;
    background-color: white;
    border: 2px aqua solid;
    outline: 1px black solid;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    font-family: "Shadows Into Light";
}
#demo {
    color: black;
    text-align: center;
    font-size: 2rem;
    font-family: "Shadows Into Light";
}
footer {
    text-align: center;
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px hotpink;
}
